html {
    box-sizing: border-box;
}
*, 
*::before,
*::after {
    box-sizing: inherit;
}

body {
   margin: 0;
   padding: 0;
   display: grid;
   place-items: center;
}
ul {
    list-style-type: none;
    padding: 0;
}

button {
    cursor: pointer;
}

img {
    width: 700px;
    height: 500px;
}

.previous-button {
    position: absolute;
    top: 58%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.next-button {
    position: absolute;
    top: 58%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.carousel-container {
 overflow: hidden;
 width: 700px;
}

.carousel__image-ul {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;

  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.carousel__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-dot {
    padding: 5px;
    margin: 5px;
    border-radius: 100%;
    border: none;
    background-color: lightgray;
}
.carousel-dot:hover {
    background-color: lightslategrey;
}
.carousel-dot.is-selected {
    background-color: darkcyan;
}

.hidden {
    display: none;
}